.app {
  letter-spacing: 1px;
  height: 100vh;
  max-width: 800px;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-transform: uppercase;
  background-image: url("../assets/photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 3px;
}

.container {
  color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.checker {
  margin-top: 20px;
  text-align: center;
}

.pm25-rating {
  border-radius: 3px;
  padding: 0.5rem;
  color: white;

  &--good {
    background-color: rgb(60, 235, 8);
  }

  &--moderate {
    background-color: rgb(245, 209, 9);
  }

  &--unhealthy {
    background-color: rgb(238, 57, 25);
  }
}
